
@{
    ViewBag.Title = "Add Existed Question";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Questions</h3>

                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>Question Id</th>
                                    <th>Category</th>
                                    <th>Question Text</th>
                                    <th>Point</th>
                                    <th>Answers</th>
                                    <th>Add</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.QuestionList != null)
                                {
                                    foreach (var question in ViewBag.QuestionList)
                                    {

                                        <tr>
                                            <td>@question.QUESTION_ID</td>
                                            <td>@question.CATEGORY</td>
                                            <td>@question.QUESTION1</td>
                                            <td>@question.POINT</td>
                                            <td><a href="@Url.Action("ShowAnswers","Manager", new { questionId = question.QUESTION_ID})">Answers</a></td>
                                            <td><a href="@Url.Action("AddExistedQuestionToTest","Manager", new { questionId = question.QUESTION_ID, testId = ViewBag.testId})">Add</a></td>




                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>


    </div>

</div>

