
@{
    ViewBag.Title = "Home Manager";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Reports</h3>

                            
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Created</th>
                                        <th>High Score Test</th>
                                        <th>Average Score Test</th>
                                        <th>Test Attempt</th>
                                        <th>General Knowledge High Score</th>
                                        <th>Mathematics High Score</th>
                                        <th>Computer Technology High Score</th>
                                        <th>Detail</th>
                                        <th>Update</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.ReportList != null)
                                    {
                                        foreach (var report in ViewBag.ReportList)
                                        {

                                            <tr>
                                                <td>@report.CREATED</td>
                                                <td>@report.PERCENT_HIGH_SCORE.ToString("0.00") %</td>
                                                <td>@report.PERCENT_MIDDLE_SCORE.ToString("0.00") %</td>
                                                <td>@report.PERCENT_ATTEMPT.ToString("0.00") %</td>
                                                <td>@report.PERCENT_HIGH_PART_1.ToString("0.00") %</td>
                                                <td>@report.PERCENT_HIGH_PART_2.ToString("0.00") %</td>
                                                <td>@report.PERCENT_HIGH_PART_3.ToString("0.00") %</td>
                                                <td><a href="@Url.Action("ReportDetail","Manager", new { created = report.CREATED})">Detail</a></td>
                                                <td><a href="@Url.Action("UpdateReport","Manager", new { created = report.CREATED})">Update</a></td>

                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Report due to Month</h3>
                        </div>
                        <form action="@Url.Action("ReportMonth","Manager")" method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Select Month</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="month" class="form-control" name="MONTH" placeholder="MM/yyyy">
                                    </div>
                                </div>

                                <lable class="col-sm-12 text-danger">
                                    @ViewBag.Error

                                </lable>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <div class="col-sm-2">
                                        <input type="submit" class="btn btn-primary" value="Submit" />
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>


                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Report due to Year</h3>
                        </div>
                        <form action="@Url.Action("ReportYear","Manager")" method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Select Year</label>
                                    <select class="form-control" name="YEAR">
                                            @for (int i = 2000; i < 2021; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }

                                    </select>
                                </div>

                                <lable class="col-sm-12 text-danger">
                                    @ViewBag.Error

                                </lable>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <div class="col-sm-2">
                                        <input type="submit" class="btn btn-primary" value="Submit" />
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>


            </div>

        </div>

    </div>

