
@{
    ViewBag.Title = "Report Detail";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
    AptechSem3.Models.REPORT report = null;

    if (TempData["Report"] != null)
    {
        report = (AptechSem3.Models.REPORT)TempData["Report"];
    }
}
<style>
    /* Chart.js */

</style>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@report.PERCENT_ATTEMPT</h3>

                            <p>Candidates attended the Test</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <a href="@Url.Action("ShowApplicationsWithCondition","Manager" , new { status ="attempt"})" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@report.PERCENT_HIGH_SCORE.ToString("0.00")<sup style="font-size: 20px">%</sup></h3>

                            <p>>Candidates passsed with 80% Score</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-brain"></i>
                        </div>
                        <a href="@Url.Action("ShowApplicationsWithCondition","Manager" , new { status ="high"})" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>@report.PERCENT_MIDDLE_SCORE.ToString("0.00")<sup style="font-size: 20px">%</sup></h3>

                            <p>Candidates pass with 50% Score</p>
                        </div>
                        <div class="icon">
                            <i class="far fa-thumbs-up"></i>
                        </div>
                        <a href="@Url.Action("ShowApplicationsWithCondition","Manager" , new { status ="mid"})" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>@((100 - report.PERCENT_HIGH_SCORE - report.PERCENT_MIDDLE_SCORE).ToString("0.00"))<sup style="font-size: 20px">%</sup></h3>

                            <p>Candidates failed with < 50% Score</p>
                        </div>
                        <div class="icon">
                            <i class="far fa-thumbs-down"></i>
                        </div>
                        <a href="@Url.Action("ShowApplicationsWithCondition","Manager" , new { status ="low"})" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-6">
                    <canvas id="pie-chart" width="800" height="450"></canvas>
                </div>
                <div class="col-lg-6">
                    <canvas id="bar-chart-horizontal" width="800" height="450"></canvas>
                </div>
                <div class="col-sm-12 my-4">
                    <h4 class="m-0 text-dark">Results of all User attended the test</h4>
                </div>
                <div class="col-lg-12 ">

                    <div class="card">
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Test Id</th>
                                        <th>Percent Finish</th>
                                        <th>General Knowledge</th>
                                        <th>Mathematics</th>
                                        <th>Computer Technology</th>
                                        <th>View Application</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.ResultList != null)
                                    {
                                        foreach (var result in ViewBag.ResultList)
                                        {
                                            string percent;
                                            switch (result.TEST_INDEX)
                                            {
                                                case 1:
                                                    percent = "General Knowledge";
                                                    break;
                                                case 2:
                                                    percent = "Mathematics";
                                                    break;
                                                case 3:
                                                    percent = "Computer Technolgy";
                                                    break;
                                                case 4:
                                                    percent = "100% Finished";
                                                    break;
                                                default:
                                                    percent = "Didn't Attend";
                                                    break;
                                            }
                                            <tr>
                                                <td>@result.TEST_ID</td>
                                                <td>@percent</td>
                                                <td>@result.TEST_RESULT_1</td>
                                                <td>@result.TEST_RESULT_2</td>
                                                <td>@result.TEST_RESULT_3</td>
                                                <td><a href="@Url.Action("ApplicationDetail", "Manager", new { applyId = result.APPLY_ID})">Application Detail</a></td>


                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="col-sm-12 my-4">
                    <h4 class="m-0 text-dark">Applications attended the test</h4>
                </div>
                <div class="col-lg-12 ">

                    <div class="card">

                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Post Id</th>
                                        <th>Personal Id</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>Created</th>
                                        <th>Status</th>
                                        <th>More Detail</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.ApplicationList != null)
                                    {
                                        foreach (var application in ViewBag.ApplicationList)
                                        {
                                            string status;
                                            switch (application.APPROVE_STATUS)
                                            {
                                                case -1:
                                                    status = "Unapproved";
                                                    break;
                                                case 1:
                                                    status = "Approved";
                                                    break;
                                                case 2:
                                                    status = "Passed";
                                                    break;
                                                case -2:
                                                    status = "Failed";
                                                    break;
                                                default:
                                                    status = "Unseen";
                                                    break;
                                            }
                                            <tr>
                                                <td>@application.POST_ID</td>
                                                <td>@application.PERSONAL_ID</td>
                                                <td>@application.NAME</td>
                                                <td>@application.ADDRESS</td>
                                                <td>@application.PHONE</td>
                                                <td>@application.CREATED</td>
                                                <td>@status</td>
                                                <td><a href="@Url.Action("ApplicationDetail", "Manager", new { applyId = application.APPLY_ID})">More Detail</a></td>


                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
 <script>
     new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: [">80% Test", "50-80% Test", "<50% Test"],
      datasets: [{
        label: "Score (percent)",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
        data: [@report.PERCENT_HIGH_SCORE.ToString("0.00"),@report.PERCENT_MIDDLE_SCORE.ToString("0.00"),@((100-report.PERCENT_HIGH_SCORE-report.PERCENT_MIDDLE_SCORE).ToString("0.00"))]
      }]
    },
    options: {
      title: {
        display: true,
        text: '@report.CREATED Test Report'
      }
    }
     });

     new Chart(document.getElementById("bar-chart-horizontal"), {
    type: 'horizontalBar',
    data: {
      labels: ["GENERAL KNOWLEDGE","GENERAL KNOWLEDGE HIGH", "MATHEMATICS","MATHEMATICS HIGH", "COMPUTER TECHNOLOGY", "COMPUTER TECHNOLOGY HIGH"],
      datasets: [
        {
          label: "Test Report (percent)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#d75329"],
          data: [@report.PERCENT_HIGH_PART_1.ToString("0.00"),@report.PERCENT_MID_PART_1.ToString("0.00"),@report.PERCENT_HIGH_PART_2.ToString("0.00"),@report.PERCENT_MID_PART_2.ToString("0.00"),@report.PERCENT_HIGH_PART_3.ToString("0.00"), @report.PERCENT_MID_PART_3.ToString("0.00")]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: '@report.CREATED Test Report'
      }
    }
});
 </script>

