
@{
    ViewBag.Title = "Show Posts";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Posts</h3>

                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>Post Id</th>
                                    <th>Title</th>
                                    <th>Created</th>
                                    <th>End Date</th>
                                    <th>Post</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.PostList != null)
                                {
                                    foreach (var post in ViewBag.PostList)
                                    {

                                <tr>
                                    <td>@post.POST_ID</td>
                                    <td>@post.TITLE</td>
                                    <td>@post.CREATED</td>
                                    <td>@post.END_DATE</td>
                                    <td>@post.POST</td>
                                    <td><a href="@Url.Action("UpdatePost","Manager", new { postId = post.POST_ID})">Update</a></td>




                                </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>


    </div>

</div>


