
@{
    ViewBag.Title = "ShowAnswers";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Answers</h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Answer Id</th>
                                        <th>Question Id</th>
                                        <th>Answer Text</th>
                                        <th>Status</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.AnswerList != null)
                                    {
                                        foreach (var answer in ViewBag.AnswerList)
                                        {
                                            string status;
                                            if (answer.STATUS == true)
                                            {
                                                status = "Correct";
                                            }
                                            else {
                                                status = "Incorrect";
                                            }

                                            <tr>
                                                <td>@answer.ANSWER_ID</td>
                                                <td>@answer.QUESTION_ID</td>
                                                <td>@answer.ANSWER1</td>
                                                <td>@status</td>
                                                <td><a href="@Url.Action("UpdateAnswer","Manager", new { answerId = answer.ANSWER_ID})">Update</a></td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>


        </div>

    </div>

