
@{
    ViewBag.Title = "Show Status Candidates";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Candidates</h3>
                            <br />
                            <lable class="col-sm-12 text-danger">
                                @ViewBag.Error

                            </lable>
                            
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>General Knowledge</th>
                                        <th>Mathematics</th>
                                        <th>Computer Technology</th>
                                        <th>More Detail</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.ApplicationList != null)
                                    {
                                        foreach (var application in ViewBag.ApplicationList)
                                        {
                                            string status;
                                            switch (application.APPROVE_STATUS)
                                            {
                                                case -1:
                                                    status = "Unapproved";
                                                    break;
                                                case 1:
                                                    status = "Approved";
                                                    break;
                                                case -2:
                                                    status = "Failed";
                                                    break;
                                                case 2:
                                                    status = "Passed";
                                                    break;
                                                default:
                                                    status = "Unseen";
                                                    break;
                                            }
                                            <tr>
                                                <td>@application.NAME</td>
                                                <td>@status</td>

                                                <td>@application.TEST_RESULT_1</td>
                                                <td>@application.TEST_RESULT_2</td>
                                                <td>@application.TEST_RESULT_3</td>
                                                <td>@status</td>
                                                <td><a href="@Url.Action("ApplicationDetail", "Manager", new { applyId = application.APPLY_ID})">More Detail</a></td>


                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>


        </div>

    </div>

